<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="assets/logo.png"
    />
    <a [routerLink]="['/accueil']">AJC TEAM</a>
      <div class="spacer"></div>
      <a class="panier" [routerLink]="['/panier']"><i class="bi bi-cart3"></i>
      </a>
      <span *ngIf="connectedUser == false">
        <a [routerLink]="['/connexion']">Se connecter</a> |
        <a [routerLink]="['/inscription']">S'inscrire</a>
      </span>
      <a *ngIf="connectedUser == true" (click)="logout()">Deconnexion</a>
  </div>
