<div class="container-fluid">
    <app-sidebar (unEvenement)="receptionMessage($event)"></app-sidebar>
    <p class="title"> {{formValueFromSidebar.sexe}} ({{vetements.length}}) </p>
    <div class="vetement">
    
        <div class="row">
            <div class="col-4" *ngFor="let vetement of vetements"> 
                <img  routerLink="/vetement/{{vetement.id}}" [src]="vetement.photo" [alt]="vetement.intitule" />
            <div class="row"> 
                <p class="new"> Dernières sorties </p>
                <p> {{vetement.intitule}}</p>
                <p class="genre"> {{vetement.marque}}</p>
                <p class="genre"> {{vetement.couleur}} </p>
            </div>
            <div class="row">
                <p class="prix"> {{vetement.price}} €</p>
                </div>
            </div>
          
          
        </div>
  
         

          
    </div>  
    </div>
    