<div class="container-fluid">
    <p class="title"> Hommes Sweats à capuche et sweat-shirts (377) </p>
<app-sidebar></app-sidebar>
    <div class="vetement">
    
        <div class="row">
            <div class="col"> 
                <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p class="new"> Dernières sorties </p>
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
                <p class="genre"> 3 couleurs </p>
            </div>
            <div class="row">
                <p class="prix"> 120€</p>
                </div>
            </div>
            <div class="col"> 
                <img src="assets/pull.jpg"/>
                <div class="row"> 
                    <p class="new"> Dernières sorties </p>
                    <p> Sweat à capuche AJC Corp</p>
                    <p class="genre"> Sweat pour homme</p>
                    <p class="genre"> 3 couleurs </p>
                </div>
                <div class="row">
                    <p class="prix"> 120€</p>
                    </div>
            </div>
          
            <div class="col">
                 <img src="assets/pull.jpg"/>
                <div class="row"> 
                    <p> Sweat à capuche AJC Corp</p>
                    <p class="genre"> Sweat pour homme</p>
                    <p class="genre"> 3 couleurs </p>
                </div>
                <div class="row">
                    <p class="prix"> 120€</p>
                    </div>
                </div>
          
          </div>
          <div class="row">
            <div class="col"> 
                <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
                <p class="genre"> 3 couleurs </p>
            </div>
            <div class="row">
                <p class="prix"> 120€</p>
                </div>
            </div>
            <div class="col"> 
                <img src="assets/pull.jpg"/>
                <div class="row"> 
                    <p> Sweat à capuche AJC Corp</p>
                    <p class="genre"> Sweat pour homme</p>
                    <p class="genre"> 3 couleurs </p>
                </div>
                <div class="row">
                    <p class="prix"> 120€</p>
                    </div>
            </div>
          
            <div class="col">
                 <img src="assets/pull.jpg"/>
                <div class="row"> 
                    <p class="new"> Dernières sorties </p>
                    <p> Sweat à capuche AJC Corp</p>
                    <p class="genre"> Sweat pour homme</p>
                    <p class="genre"> 3 couleurs </p>
                </div>
                <div class="row">
                    <p class="prix"> 120€</p>
                    </div>
                </div>
          
          </div>
          <div class="row">
            <div class="col"> 
                <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p class="new"> Dernières sorties </p>
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
                <p class="genre"> 3 couleurs </p>
            </div>
            <div class="row">
                <p class="prix"> 120€</p>
                </div>
            </div>
            <div class="col"> 
                <img src="assets/pull.jpg"/>
                <div class="row"> 
                    <p> Sweat à capuche AJC Corp</p>
                    <p class="genre"> Sweat pour homme</p>
                    <p class="genre"> 3 couleurs </p>
                </div>
                <div class="row">
                    <p class="prix"> 120€</p>
                    </div>
            </div>
          
            <div class="col">
                 <img src="assets/pull.jpg"/>
                <div class="row"> 
                    
                    <p> Sweat à capuche AJC Corp</p>
                    <p class="genre"> Sweat pour homme</p>
                    <p class="genre"> 3 couleurs </p>
                </div>
                <div class="row">
                    <p class="prix"> 120€</p>
                    </div>
                </div>
          
          </div>

          
    </div>  
    </div>
    