<div class="flex-shrink-0 p-3 bg-white" id="navbar">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="true" type="button">
                    Sexe
                </button>
                <div class="collapse show" id="home-collapse">
                    <ul id="listfiltre" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" id="male" type="radio" value="Homme"
                                    formControlName="sexe">
                                <label class="form-check-label" for="male">Homme</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" id="male" type="radio" value="Femme"
                                    formControlName="sexe">
                                <label class="form-check-label" for="male">Femme</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" id="unisexe" type="radio" value="Unisexe"
                                    formControlName="sexe">
                                <label class="form-check-label" for="unisexe">Unisexe</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class=" border-top mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="true" type="button">
                    Prix
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul id="listfiltre" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" id="less" type="radio" value="0-50"
                                    formControlName="prix">
                                <label class="form-check-label" for="less">Moins de 50€</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" id="between" type="radio" value="50-100"
                                    formControlName="prix">
                                <label class="form-check-label" for="between">50€ - 100 €</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" id="more" type="radio" value="100-1000000"
                                    formControlName="prix">
                                <label class="form-check-label" for="more">Plus de 100€</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#taille-collapse" aria-expanded="true" type="button">
                    Tailles
                </button>
                <div class="collapse show" id="taille-collapse">
                    <ul id="listfiltre" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li formArrayName="tailles" *ngFor="let item of taillesFormArray.controls; let i = index">
                            <input [formControlName]="i.toString()" class="form-check-input" type="checkbox"
                                [value]="TAILLES_LIST[i].label">
                            {{TAILLES_LIST[i].label}}
                        </li>
                    </ul>
                </div>
            </li>
            <li class="border-top mb-1">

                <div class="button">
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </li>
        </ul>
    </form>
</div>