/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
html, body {
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background-color: rgb(246, 246, 246)!important;
}

:root {
    --ajc-blue :#223C60
}
