<div class="container-fluid">
    <p class="title"> Commencez votre shopping ici </p>
<div class="vetement">

    <div class="row row-cols-2">
        <div class="col"> <img src="assets/pull.jpg"/></div> 
        <div class="col"> <img src="assets/pull.jpg"/></div>
      </div>
</div>
<p class="title"> Nos meilleurs sweat </p>
<div class="vetement">

    <div class="row row-cols-3">
        <div class="col"> <img src="assets/pull.jpg"/>
        <div class="row"> 
            <p> Sweat à capuche AJC Corp</p>
            <p class="genre"> Sweat pour homme</p>
        </div>
        <div class="row">
            <p> 120€</p>
            </div>
        </div>
        <div class="col"> <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
            </div>
            <div class="row">
                <p> 120€</p>
                </div>
        </div>
      
        <div class="col"> <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
            </div>
            <div class="row">
                <p> 120€</p>
                </div></div>
      
      </div>
</div>

<p class="title"> Découvrez ces marques </p>
<div class="vetement">

    <div class="row row-cols-2">
        <div class="col"> <img src="assets/pull.jpg"/></div>
        <div class="col"> <img src="assets/pull.jpg"/></div>
      </div>
</div>



<p class="title"> Les indispensables  </p>
<div class="vetement">

    <div class="row row-cols-3">
        <div class="col"> <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
            </div>
            <div class="row">
                <p> 120€</p>
                </div>
            </div>
      
        <div class="col"> <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
            </div>
            <div class="row">
                <p> 120€</p>
                </div>
            </div>
      
        <div class="col"> <img src="assets/pull.jpg"/>
            <div class="row"> 
                <p> Sweat à capuche AJC Corp</p>
                <p class="genre"> Sweat pour homme</p>
            </div>
            <div class="row">
                <p> 120€</p>
                </div>
        </div>
     
      </div>
</div>



</div>
