<div class="container-fluid">
<p> Nos meilleurs sweat </p>
<div class="vetement">

    <div class="row row-cols-3">
        <div class="col"> <img src="assets/pull.jpg"/></div>
        <div class="col"> <img src="assets/pull.jpg"/></div>
        <div class="col"> <img src="assets/pull.jpg"/></div>
      </div>
</div>

<p> Découvrez ces marques </p>
<div class="vetement">

    <div class="row row-cols-2">
        <div class="col"> <img src="assets/pull.jpg"/></div>
        <div class="col"> <img src="assets/pull.jpg"/></div>
      </div>
</div>



<p> Les indispensables  </p>
<div class="vetement">

    <div class="row row-cols-3">
        <div class="col"> <img src="assets/pull.jpg"/></div>
        <div class="col"> <img src="assets/pull.jpg"/></div>
        <div class="col"> <img src="assets/pull.jpg"/></div>
      </div>
</div>

<p> Commencez votre shopping ici </p>
<div class="vetement">

    <div class="row row-cols-2">
        <div class="col"> <img src="assets/pull.jpg"/></div>
        <div class="col"> <img src="assets/pull.jpg"/></div>
      </div>
</div>

</div>
