
.container-fluid{
    padding: 26px;
}

.title{
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
}
.container-fluid p{
    margin-bottom: 0px;
    

}
 .vetement p{
    font-size: 12px;
    
}

 .vetement .genre{
    color: #757575;
}

.imgDouble{
    box-shadow: 1px 6px 9px black;
}


 

.container-fluid .row img{
    width: 100%;
}

.vetement{
    margin-left: 60px;
    padding: 30px;
}

.vetement img{
    width: 10%;
}

img{
    cursor: pointer;
}