.content {
    height: 100vh;
    background-image: url("https://cap.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2Fcap.2F2021.2F01.2F11.2Fa5188c09-2e71-45e9-87e1-f5158c20210a.2Ejpeg/1200x630/background-color/ffffff/quality/70/cr/wqkgQ29saW4gWW91bmctV29sZmYvUmlvdCBHYW1lcyAvIENBUElUQUw%3D/e-sport-jouer-en-ligne-peut-rapporter-des-millions-1393202.jpg");
    background-size: cover;
    overflow: hidden !important;

}

.card {
    border: 1px solid var(--ajc-blue);
    border-radius: 20px;
    background-color: hwb(0 100% 0% / 0.75);
    box-shadow: 10px 10px 10px black;
}

form {
  max-width: 80%;
  margin-left: 10%;
  margin-bottom: 5%;
}

.form-group {
    margin-top: 1.5rem;
}

.form-button {
    display: flex;
    justify-content: space-around;
}

.form-button > a {
    color: red;
    text-decoration: underline;
}

.alert {
    max-width: 80%;
    margin-left: 10%;
    margin-top: 1.5rem;
    text-align: center;
}

.btn-primary {
    background-color: var(--ajc-blue);
    border: 1px solid var(--ajc-blue);
}